<script>
    function reloadAnimations(ev) {
        ev.preventDefault();
        const images = document.getElementsByTagName("img");
        for(let i=0; i<images.length; i++) {
            const originalSrc = images[i].src;
            images[i].src = "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
            requestAnimationFrame(() => { setTimeout(() => { images[i].src = originalSrc; }); });
        }
    }

    addEventListener("DOMContentLoaded", (event) => {
        const links = document.getElementsByTagName("a");
        for(let i=0; i<links.length; i++) {
            if (!links[i].href) {
                if (navigator.userAgent.toLowerCase().includes('firefox')) {
                    // Reloading animations doesn't work in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=129986
                    links[i].remove();
                } else {
                    links[i].addEventListener("click", reloadAnimations, false);
                }
            }
        }
    });
</script>