<!-- Intentionally left empty -->
<script>
    function reloadAnimations(ev) {
        ev.preventDefault();
        const images = document.getElementsByTagName("img");
        for(let i=0; i<images.length; i++) {
            const originalSrc = images[i].src;
            images[i].src = "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
            setTimeout(() => { images[i].src = originalSrc; }, 100)
        }
    }

    addEventListener("DOMContentLoaded", (event) => {
        const links = document.getElementsByTagName("a");
        for(let i=0; i<links.length; i++) {
            if (!links[i].href) {
                links[i].addEventListener("click", reloadAnimations, false);
            }
        }
    });
</script>